/* ---------------------------------------------------------------------------Estilos generales */
* {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: grey;
}

.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}


.Container {
    font-family: "Patua One", serif;
    background-color: #EEECE8;
    width: 430px;
    margin: 0%;
    padding: 0%;
    /*min-height: 920px;*/
    color: #283E30;
    display: flex;
    flex-direction: column;
    justify-content: center;

    }

h4 {
    color: grey;
    margin-left: 10%;
    font-size: 114%;

} 

h3 {
    font-size: 120%;
    color: grey;
    margin-left: 32%;
}

h2 {
    font-size: 123%;
    margin-left: 10%;
}

h1 {
    font-size: 147%;
    margin-left: 3%;
}

    /*-----------------------------------------------------------------------------Encabezado pagina principal*/
    
#Encabezado {
    padding: 7%;
}
    #Logo {
        display: flex;
        justify-content: center;
        width: 50% auto;
        text-align: center;
        margin-left: 27%;
        margin-top: 20%;
        align-self: center;
        margin-bottom: 10%;
    
    }


/*  ---------------------------------------------------------------------------contenido*/
#Contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5%;
    /*padding: 5% 25%;*/
    padding-top: 0%;
}
#BtnInicio {
    border-radius: 25px;
    background-color: #283E30;
    padding: 7%;
    font-size: 120%;
}

/*-----------------------------------------------------------------------------Pie de página*/
#PieDePagina {
    margin-bottom: 5%;
}

#BtnFormRegis{
    margin-left: 77px;
}

#ManoPlaneta {
    display: flex;
    position: relative;
    top: -5px;
}

/*--------------------------------------------------------------------pantalla de inicio y pantallas de registro---*/
/*-------------------------------------------------------------------------------encabezado--------------------*/
.titulo {
    width: 100%;
    text-align: center; /* Alinea el texto al centro */
    font-size: 35px;
    margin: auto;
    margin-top: 13%;
    margin-bottom: 13%;

}

/*---------------------------------------------------------------------------------Contenido-----------------*/
/* Estilos para el formulario */

.formulario {
    margin: 6%;
    top: auto;
    background-color: #D1D5C3;
    border-radius: 50px;
    height: max-content;
    
}

.formulario form {
    padding: 40px;
    box-sizing: border-box;

}
.username,
.email,
.phone,
.birthdate,
.password,
.confirm-password {
    position: relative;
    border-bottom: 2px solid #A4B092;
    margin: 30px 0;
    width: auto;

}

/*.formulario {
    display: flex;
    width: 100% auto;
    border-bottom: 2px solid #A4B092;
    border: 0;

}*/

.formulario .contraseña {
    position: relative;
    border-bottom: 2px solid #A4B092;
    margin: 30px 0;
    width: auto;
}

.username input,
.email input,
.phone input,
.birthdate input,
.password input,
.confirm-password input {
    width: 100px;
    padding: 0 5px;
    height: 40px;
    font-size: 21px;
    box-sizing: 70px;
    border-color: #A4B092;
    background: none;
    outline: none;
    border: none;
}

.username label,
.email label,
.phone label,
.birthdate label,
.password label,
.confirm-password label {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #B6C0A8;
    transform: translateY(-50%);
    font-size: 21px;
    pointer-events: none;
    transition: .5s;
}

/*.formulario input[type="text"],
.formulario input[type="password"] {
    width: 100%; /* Ocupar todo el ancho del contenedor width: calc(100% - 12px) */
 /*   padding: 5px; /* Espaciado interno del campo */
  /*  border: none; /* Eliminar borde del campo */
  /*  border-radius: 5px; /* Borde redondeado */
  /*  text-align: left; /* Posiciona el texto al principio del campo */
/*}*/

#FormLogin {
    width: 100%;
    height: 100%;
}

/*.contraseña input:focus ~ label,
.contraseña input:focus ~ label {
    top: -5px;
    color: #283E30;
}*/

/*.contraseña input:focus ~ span:before,
.contraseña input:focus ~ span:before {
    width: 100px;
}*/


.username input,
.email input,
.phone input,
.birthdate input,
.password input,
.confirm-password input {
    width: 100px;
    padding: 0 5px;
    height: 40px;
    font-size: 21px;
    box-sizing: 70px;
    border-color: #A4B092;
    background: none;
    outline: none;
    border: none;
}

.username label,
.email label,
.phone label,
.birthdate label,
.password label,
.confirm-password label {
    position: absolute;
    top: 20px;
    left: 10px;
    color: #B6C0A8;
    transform: translateY(-50%);
    font-size: 21px;
    pointer-events: none;
    transition: .5s;
}

.username span::before,
.email span::before,
.phone span::before,
.birthdate span::before,
.password span::before,
.confirm-password span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #283E30;
    transition: .5s;
}

.username input:focus ~ label,
.email input:focus ~ label,
.phone input:focus ~ label,
.birthdate input:focus ~ label,
.password input:focus ~ label,
.confirm-password input:focus ~ label {
    top: -5px;
    color: #283E30;
}

.username input:focus ~ span:before,
.email input:focus ~ span:before,
.phone input:focus ~ span:before,
.birthdate input:focus ~ span:before,
.password input:focus ~ span:before,
.confirm-password input:focus ~ span:before {
    width: 100px;
}


/*----------------------------------------------------boton ingresar*/
input[type = "submit"]{   
    width: 163px;
    height: 54px;
    border: 0 solid;
    background: #283E30;
    border-radius: 22px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style:normal;
    margin-left: 25%;
    margin-top: 14%;

}


input[type = "submit"]:hover {
    border-color: #283E30;
    transition: .5s;

}

.registrarse a:hover{
    text-decoration: underline;
}

#IniciarSesion {
    color: #283E30;
}

/*------------------------------------------------------------------Pie de pagina*/
.PieDePagina{
    margin-bottom: 5%;
}